<header>
  <div class="logo">
    <%= link_to 'Creag <span>co.</span>', '/index.html' %>
  </div>
  <nav class="main-nav">
    <ul>
      <li><%= link_to 'Articles', '/articles.html' %></li>
      <li><%= link_to 'Notes', '/notes.html' %></li>
      <li><%= link_to 'A thing a day', '/a-thing-a-day.html' %></li>
      <li><%= link_to 'Info', '/' %></li>
    </ul>
  </nav>
</header>
