<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag "main" %>

    <title><%= current_page.data.title unless current_page.data.nil? %></title>
    <meta name="description" content="<%= current_page.data.description unless current_page.data.nil? %>" />
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  </head>
  <body>

    <div class="main" role="main">
      <%= partial "header" %>
      <%= yield %>
      <%= partial "footer" %>
    </div>
  </body>
</html>
