---
pageable: true
per_page: 2
layout: layout
title: 'Notes'
blog: "notes"
description: "A place for me to dump anything cool I learn / find / read / hear."
---
<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
<div class="main-content">
  <h1>
    <span>Notes</span>
    <span>Inspiration</span>
    <span>Brain dump</span>
  </h1>
  <aside class="lead-in-detail"></aside>
  <section class="notes-list">

  <%= page_number %>

  <%= link_to "Hello", prev_page %>
  
  <% page_articles.each do |article| %>
  <article>
    <h2><%= link_to article.title, article %></h2>
    <%= article.summary %>
  </article>
  <% end %> 
  </section>
</div>
